@{
    ViewBag.Title = "Home Page";
}


<div class="slider">
    <div class="list">
        <div class="item active">
            <img src="/Content/Map/imgs/layout/3.jpg">
            <div class="content">
                <h2>Ưu Tiên</h2>
                <p>
                    Đặt hẹn trước - Khám bệnh ngay
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/2.jpg">
            <div class="content">
                <h2>Nhanh Nhẹn</h2>
                <p>
                    Kịp thời đầy đủ và chất lượng
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/3.jpg">
            <div class="content">
                <h2>Tinh Thần</h2>
                <p>
                    Lắng nghe - Kiên nhẫn - Phục vụ
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/4.jpg">
            <div class="content">
                <h2>Thiết Bị</h2>
                <p>
                    Thiết bị tiên tiến - Tan biến ung thư
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/2.jpg">
            <div class="content">
                <h2>Trách Nhiệm</h2>
                <p>
                    Câp cứu tận tâm - Nâng tầm hiệu quả
                </p>
            </div>
        </div>
    </div>

    <div class="thumbnail">
        <div class="item active">
            <img src="/Content/Map/imgs/layout/3.jpg">
            <div class="content">

            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/2.jpg">
            <div class="content">

            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/3.jpg">
            <div class="content">

            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/4.jpg">
            <div class="content">

            </div>
        </div>
        <div class="item">
            <img src="/Content/Map/imgs/layout/2.jpg">
            <div class="content">

            </div>
        </div>
    </div>

    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
</div>
<div class="option_floor">
    <h2>Sơ đồ</h2>
    <div class="map">
        <div class="panel active" style="background-image:
                        url(https://wallpaperbat.com/img/930938-download-explore-tokyos-anime-culture-in-vibrant-4k-resolution-wallpaper.jpg);">
            <a href="@Url.Action("Tang1", "Home")" class="btn">
                <h1>Tầng 1</h1>

            </a>
        </div>
        <div class="panel " style="background-image:
                        url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616363959_41-p-anime-fon-gorod-45.jpg);">
            <a href="@Url.Action("Tang2", "Home")" class="btn">
                <h1>Tầng 2</h1>
            </a>
        </div>
        <div class="panel " style="background-image:
                        url(https://i.pinimg.com/originals/9b/7a/f6/9b7af6f84290f4724598f2f6b352cafb.jpg);">
            <a href="@Url.Action("Tang3", "Home")" class="btn">
                <h1>Tầng 3</h1>
            </a>
        </div>
    </div>
</div>

<div class="partner">
    <div class="title">
        <h2>Các đối tác</h2>
    </div>
    <div class="scroll imgBox" style="--time:25s">
        <div class="scroll_12">
            <span class="gold">Tài Trợ Vàng</span>
            <img src="/Content/Map/imgs/partner/Gigamed.png" alt="">
            <span class="silver">Tài Trợ Bạc</span>
            <img src="/Content/Map/imgs/partner/Novartis.png" alt="">
            <img src="/Content/Map/imgs/partner/Sandoz.png" alt="">
            <img src="/Content/Map/imgs/partner/PierreFabre.png" alt="">
            <img src="/Content/Map/imgs/partner/Astrazeneca.png" alt="">
            <span class="copper">Tài Trợ Đồng</span>
            <img src="/Content/Map/imgs/partner/Roche.png" alt="">
        </div>
        <div class="scroll_12">
            <span class="gold">Tài Trợ Vàng</span>
            <img src="/Content/Map/imgs/partner/Gigamed.png" alt="">
            <span class="silver">Tài Trợ Bạc</span>
            <img src="/Content/Map/imgs/partner/Novartis.png" alt="">
            <img src="/Content/Map/imgs/partner/Sandoz.png" alt="">
            <img src="/Content/Map/imgs/partner/PierreFabre.png" alt="">
            <img src="/Content/Map/imgs/partner/Astrazeneca.png" alt="">
            <span class="copper">Tài Trợ Đồng</span>
            <img src="/Content/Map/imgs/partner/Roche.png" alt="">
        </div>
    </div>
    <div class="title2">
        <h2>Đồng tài trợ</h2>
    </div>
    <div class="scroll imgBox" style="--time:20s">
        <div class="scroll_34">
            <img src="/Content/Map/imgs/partner/GeneSolotions.png" alt="">
            <img src="/Content/Map/imgs/partner/Pfizer.png" alt="">
            <img src="/Content/Map/imgs/partner/TPVN.png" alt="">
            <img src="/Content/Map/imgs/partner/HoangDuc.png" alt="">
            <img src="/Content/Map/imgs/partner/BIDA.png" alt="">
            <img src="/Content/Map/imgs/partner/Boehringer.png" alt="">
            <img src="/Content/Map/imgs/partner/Eisai.png" alt="">
            <img src="/Content/Map/imgs/partner/Zydus.png" alt="">
        </div>
        <div class="scroll_34">
            <img src="/Content/Map/imgs/partner/GeneSolotions.png" alt="">
            <img src="/Content/Map/imgs/partner/Pfizer.png" alt="">
            <img src="/Content/Map/imgs/partner/TPVN.png" alt="">
            <img src="/Content/Map/imgs/partner/HoangDuc.png" alt="">
            <img src="/Content/Map/imgs/partner/BIDA.png" alt="">
            <img src="/Content/Map/imgs/partner/Boehringer.png" alt="">
            <img src="/Content/Map/imgs/partner/Eisai.png" alt="">
            <img src="/Content/Map/imgs/partner/Zydus.png" alt="">
        </div>
    </div>
</div>