<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BẢN ĐỒ BỆNH VIỆN UNG BƯỚU</title>

    <!--Box icon  -->
    <link rel="icon" type="image/x-icon" href="./imgs/logo.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet' />
    <!-- fonts.googleapis.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap">
    <link rel="stylesheet" href="/Content/Map/css/style.css">
</head>
<body>
    <header>
        <div class="inner_header">
            <a class="logo" href="@Url.Action("Index", "Home")">
                <img src="/Content/Map/imgs/logo.png" alt="logo" width="50" height="25">
                BỆNH VIỆN UNG BƯỚU
            </a>
            <input type="checkbox" id="nav_check" hidden>
            <div class="list_contact">
                <ul>
                    <li>
                        <a href="">
                            <i class='bx bx-phone '> SYT: 096 777 1010</i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class='bx bx-phone '> BYT: 1900 9095</i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class='bx bx-phone '> Đặt hẹn: 1900636223</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/BVUNGBUOU.TPHCM/?_rdc=1&_rdr">
                            <i class='bx bxl-facebook-circle '> Facebook</i>
                        </a>
                    </li>
                </ul>
            </div>
            <label for="nav_check" class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </label>
        </div>
    </header>

    @RenderBody()

    <div class="space"></div>
    <footer>

        <div class="space"></div>
        <div class="googlemap"></div>
        <div class="profile">
            <div class="address">
                <h2>Địa chỉ:</h2>
                <p>
                    <i class='bx bx-location-plus'></i>Số 3 Nơ Trang
                    Long, Phường 7, Quận Bình Thạnh, TP. HCM
                </p>
                <p>
                    <i class='bx bx-location-plus'></i>Số 6 Nguyễn Huy
                    Lượng, Phường 14, Quận Bình Thạnh, TP. HCM
                </p>
                <p>
                    <i class='bx bx-location-plus'></i>Số 47 Nguyễn Huy
                    Lượng, Phường 14, Quận Bình Thạnh, TP. HCM
                </p>
                <p>
                    <i class='bx bx-location-plus'></i>Đường 400, Ấp Cây
                    Dầu, Phường Tân Phú, Quận 9, TP. HCM
                </p>
            </div>
            <div class="contact_working-time">
                <h2>Liên hệ:</h2>
                <p>
                    <i class='bx bx-phone-call'></i>Số điện thoại cơ sở
                    1:(028) 38433022
                </p>
                <p>
                    <i class='bx bx-phone-call'></i>Số điện thoại cơ sở
                    2:(028) 36227722 - (028) 38433021
                </p>
                <p>
                    <i class='bx bx-time-five'></i>Giờ hành chính,
                    Thứ 2 - Thứ 6, Từ 7g30 Đến 16g30
                </p>
            </div>
        </div>
        <div class="copyright">
            © 2024 Group 1. All rights reserved.
        </div>
    </footer>
    <span class="scroll_to_top">
        <i class='bx bx-arrow-to-top'></i>
    </span>

    <script src="~/Content/Map/js/app.js"></script>
    <script src="~/Content/Map/js/floor.js"></script>

    
    @RenderSection("Scripts", required: false)
</body>
</html>
